.card-container{
    background-color: #ffffff;
    padding: .7rem;
    width: 86%;
    
    /* box-shadow: 0 0 10px rgb(215, 191, 191); */
}
.card-name{
    margin: 0px;
}
.add-card-button{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: .4rem;
    border: none;
    width: 100%;
}
.card-main-container{
    margin: .6rem 0 .4rem 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px #888888;
}
.card-delete-button{
    border: none;
    background-color: transparent;
}

