.each-board-container{
    height: 100px;
    width: 250px;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/059be132a169b996b4b290af0326b1f3/photo-1664737061963-862d6a174a3b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: .5px 2px .5px 2px;
    margin: 6px;
    border-radius: 5px;
}
.board-main-container{
    /* min-height: 100vh; */
    padding: .4rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    background-color: rgb(224, 197, 162);
}
.main{
    background-color: rgb(224, 197, 162);
    height: 100vh;
}
.board-name{
    color: #ffffff;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.add-board-button{
    height: 100px;
    width: 250px;
    padding: .5px 2px .5px 2px;
    margin-top: 6px;
    border-radius: 5px;
    border: none;
    
}
.board-popup-input-main-card{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.board-input-popup-card{
    height: 260px;
    width: 230px;
    padding: 1rem;
    background-color: #ffffff;
    margin-top: 2rem;
    box-shadow: 0 0 6px #888888;
}

.board-input-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.add-board-head{
    margin: 0 0 0 3rem;
}

.input-card{
    margin-top: 1rem;
}

.input-enter-card{
    height: 30px;
    width: 100%;
    border: 2px solid red;
    border-radius: 4px;
    outline-color: skyblue;
}
.board-input-close{
    border: none;
    background-color: transparent;
}
.board-create-btn{
    height: 32px;
    width: 100%;
    border: none;
    background-color: rgb(60, 105, 187);
    color: #ffffff;
    border-radius: 3px;
}